
/* Color Palette: https://www.color-hex.com/color-palette/48724 */

*{
    background-color: #a1bfb9;
}

header *{
    background-color: #dee7e7;
    color: #e15531;
}

header{
    background-color: #dee7e7;
    border: medium solid #81b4b3;
    padding-top: 1.5em;
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 2em;
    margin-right: 2em;
}

#nav img{
    float: left;
    margin-right: 49%;
}

#nav p{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2em;
}

#nav nav ul li{
    background-color: #c9cdd6;
    transition: 360ms;
    display: inline-block;
    border: medium solid #81b4b3;
    border-radius: .3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: .5em;
    margin-bottom: 1.5em;
    margin-right: -.38em;
}

#nav nav ul li:hover{
    cursor: pointer;
    background-color: #81b4b3;
}

#products nav ul li{
    background-color: #c9cdd6;
    transition: 360ms;
    display: inline-block;
    border: medium solid #81b4b3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 2.4em;
    padding-right: 2.4em;
    margin-right: -.38em;
    margin-bottom: -.2em;
}

#products nav ul li:hover{
    cursor: pointer;
    background-color: #81b4b3;
}

#title *{
    background-color: #dee7e7;
}

#title{
    background-color: #dee7e7;
    border: medium solid #81b4b3;
    padding-left: 25%;
    padding-right: 20%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: -.1em;
    margin-left: 2em;
    margin-right: 2em;
}

#title nav ul li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5em;
}

#title nav ul li:nth-of-type(odd){
    text-decoration: underline;
    color: #0000EE;
}

#title nav ul li:nth-of-type(odd):hover{
    cursor: pointer;
}

#title h1{
    color: #e15531;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2em;
}

#title section{
    color: #81b4b3;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    width: 43%;
    height: 25em;
    padding-right: 1.5em;
    margin-right: 1.5em;
    overflow-y: scroll;
}

#title section h2{
    color: #e15531;
    font-size: 1.4em;
}

#sub *{
    background-color: #dee7e7;
}

#sub{
    background-color: #dee7e7;
    border: medium solid #81b4b3;
    padding-left: 25%;
    padding-right: 20%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: -.2em;
    margin-left: 2em;
    margin-right: 2em;
}

#sub nav ul li:first-child{
    margin-left: 1em;
}

#sub nav ul li{
    color: #e15531;
    transition: 360ms;
    display: inline-block;
    border: medium solid #81b4b3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-top-right-radius: 1em 2em;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .5em;
    padding-right: 3em;
}

#sub nav ul li:hover{
    cursor: pointer;
    background-color: #81b4b3;
}

#tab{
    border: medium solid #81b4b3;
    padding: 1.5em;
    margin-top: -.2em;
    margin-right: 1.5em;
}

#tab img:first-child{
    float: left;
    margin-right: 1.5em;
}

#tab p{
    color: #81b4b3;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 1.5em;
}

#tinypic{
    margin-top: .6em;
    margin-right: 1.5em;
}






/* *{
    background-color:#81b4b3;
    text-align: center;
}

img{
    background-color: #dee7e7;
    border: .75em double #e15531;
    padding: 2em;
    margin: 1em;
    border-radius: 5em;
}

img:active{
    transform: scaleX(-1);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color: #e15531;
    margin: 1em;
}

hr{
    width: 60%;
    border: .1em dotted #c9cdd6;
}

#hourly{
    display: inline-block;
    color: #e15531;
    font-weight: bolder;
}

#store, #list{
    border-radius: 1em;
    background-color: #a1bfb9;
    padding: .2em;
    margin-left: 5em;
    margin-right: 5em;
}

#store{
    text-decoration: underline;
}

ul{
    height: 25em;
    overflow-y: scroll;
}

#copyright{
    color: #a1bfb9;
    margin-right: 2em;
    float: right;
}

table{
    display: inline;
}

td{
    background-color: #c9cdd6;
    border: medium dotted #e15531;
    border-radius: 2em;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    color: #e15531;
}

thead td, tbody td:first-child{
    background-color: #e15531;
    color: #dee7e7;
}

tbody td:first-child, tbody td:last-child{
    text-transform: capitalize;
    text-decoration: underline;
}

tfoot td{
    background-color: #dee7e7;
}

tbody td:hover{
    cursor: pointer;
    background-color: #dee7e7;
    color: #e15531;
    border-radius: 1.2em;
} */